* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
}


/* HEADER */

header {
    padding: 1rem 3rem;
    color: white;
    font-size: 22px;
    height: 70px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

header img {
    height: 40px;
}

header > span {
    font-weight: 700;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.1em;
}